@page "/"
@implements IDisposable
@inject ILocation Location
@inject IStateService StateService

<PageTitle>Index</PageTitle>
<div class="row p-2">
	<div class="col">
		<select class="form-select form-select-sm" @onchange="SelectedRegion">
			@if (StateService.Regions is null)
			{
				<option selected>Завантаження...</option>
			}
			else
			{
				<option selected>Оберіть область...</option>
				@foreach (var item in StateService.Regions)
				{
					<option value="@item.Id">@item.RegionName</option>
				}
			}
		</select>
	</div>
	<div class="col">
		<select class="form-select form-select-sm" disabled="@IsDisabled" @onchange="SelectedDisrict">
			@if (StateService.Districts is null)
			{
				<option selected>Завантаження...</option>
			}
			else
			{
				<option selected>Оберіть район...</option>
				@foreach (var item in StateService.Districts)
				{
					<option value="@item.Id">@item.DistrictName</option>

				}
			}
		</select>
	</div>
	<div class="col"></div>
</div>

<table class="table table-sm table-hover">
	<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Місто</th>
			<th scope="col">Населення</th>
			<th scope="col">Широта</th>
			<th scope="col">Довгота</th>
		</tr>
	</thead>
	<tbody>
		@if (StateService.Cities is not null)
		{
			@foreach (var item in StateService.Cities)
			{
				<tr>
					<th scope="row">@item.Id</th>
					<td>@item.CityName</td>
					<td>@item.Population.ToString("### ### ###")</td>
					<td>@item.Latitude</td>
					<td>@item.Longitude</td>
				</tr>
			}

		}
	</tbody>
</table>

@code {
	public bool IsDisabled { get; set; } = true;

	protected override async Task OnInitializedAsync()
	{
		StateService.Regions = await Location.GetAllRegionsAsync();
		StateService.OnChange += StateHasChanged;

	}

	async Task SelectedRegion(ChangeEventArgs e)
	{
		await Task.Run(() =>
		{
			if (e.Value is not null)
			{
				if (Int32.TryParse(e.Value.ToString(), out int id))
				{

					var dist = Location.GetAllDistrictAsync().Result.Where(x => x.RegionId == id).ToList();
					InvokeAsync(() => StateService.Districts = dist);
					IsDisabled = false;
				}
				else
				{
					IsDisabled = true;
				}
			}
		});
	}

	async Task SelectedDisrict(ChangeEventArgs e)
	{
		await Task.Run(() =>
		{
			if (e.Value is not null)
			{
				if (Int32.TryParse(e.Value.ToString(), out int id))
				{
					var cit = Location.GetAllCitiesAsync().Result.Where(x => x.DistrictId == id).ToList();
					InvokeAsync(() => StateService.Cities = cit);
				}
				else
				{
					InvokeAsync(() => StateService.Cities = new());
				}
			}
		});
	}
	public void Dispose()
	{
		StateService.OnChange -= StateHasChanged;
	}
}