@inject IStateService ss

<div class="modal-backdrop show" />

<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog"
	 aria-labelledby="exampleModal" aria-hidden="true" style="display: block">

	<div class="modal-dialog modal-dialog-centered" role="document">

		<div class="modal-content">
			<div class="modal-header alert-success">
				<h5 class=modal-title>@ss.City.CityName</h5>
				<button @onclick="CloseWindow" type="button" class="btn-close" />
			</div>
			<div class=modal-body>
				<div class="row">
					<div class="col-3 text-end">Область:</div>
					<div class="col">@ss.City.District.Region.RegionName (@ss.City.District.Region.Population.ToString("### ### ###"))</div>
				</div>
				<div class="row">
					<div class="col-3 text-end">Район:</div>
					<div class="col">@ss.City.District.DistrictName (@ss.City.District.Population.ToString("### ### ###"))</div>
				</div>
				<div class="row">
					<div class="col-3 text-end">Місто:</div>
					<div class="col">@ss.City.CityName (@ss.City.Population.ToString("### ### ###"))</div>
				</div>
			</div>
			<div class=modal-footer>
				<button @onclick="CloseWindow" type="button" class="btn btn-sm btn-primary">Close</button>
			</div>
		</div>

	</div>

</div>
@*}*@

@code {
	[Parameter]
	public EventCallback OnClose { get; set; }

	private Task CloseWindow()
	{
		return OnClose.InvokeAsync();
	}

}
